<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Gossip numéro  <%= id %></h1>

        <p>
          <%= gossip.author %><br/>
          <%= gossip.content %>
        </p>

        <a href="/">Tu veux revenir à la page d'accueil des potins ? <br/> </a>

        <a href="/gossips/<%= id %>/edit">Tu veux éditer ce potin ?</a>

  </body>
</html>


